@page "/login"
@inject NavigationManager Navigation
<PageTitle>Login</PageTitle>

<h3>Login</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color: red;">@errorMessage</p>
}

<div>
    <label>Usuario:</label>
    <input @bind="usuario" type="text" placeholder="Ingrese usuario" />
</div>

<div>
    <label>Contraseña:</label>
    <input @bind="password" type="password" placeholder="Ingrese contraseña" />
</div>

<button @onclick="()=> LoginUser()">Ingresar</button>

@code {
    private string usuario = "";
    private string password = "";
    private string errorMessage = "";

    private void LoginUser()
    {
        if (usuario == "1" && password == "1") 
        {
            errorMessage = "";
            Navigation.NavigateTo("/counter"); 
        }
        else
        {
            errorMessage = "Usuario o contraseña incorrectos";
            StateHasChanged();
        }
    }
}

